/.svn
bin
obj
*.dbmdl
*.user
/dist/*
/packages/*
**.suo
/*.log
/deploy/*
*ncrunchsolution
*ncrunchproject
*_NCrunch*
node_modules/
/.vs
/.build
_ReSharper.Caches/*

# NUNIT
*.VisualState.xml
TestResult.xml

# Others
*.[Cc]ache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbproj.schemaview
*.publishsettings
bower_components/

# NCrunch
*_NCrunch_*
.*crunch*.local.xml

/dist
env.list

/hashicorp/consul/data/*
!/hashicorp/consul/data/kv-store.json
/hashicorp/vault/data/*
!/hashicorp/vault/data/.gitkeep
/hashicorp/vault/logs/*
!/hashicorp/vault/logs/.gitkeep
/hashicorp/vault-instance.config
/hashicorp/approle-roleId.txt
/hashicorp/approle-secretId.txt

/hashicorp/tmp/*
!/hashicorp/tmp/.gitkeep
!/hashicorp/consul/data/kv-store*.json
